body {
    padding: 0;
    margin: 0;
    font-family: Arial;
    /*background-image: url("img/bg.png");*/
    background: url("../img/bg0.jpg") repeat;
}

.logo {
    width: 50px;
}

.pageContainer {
    min-width: 430px;
}

.header {
    background-color: #000049;
    border-bottom-style: solid;
    border-bottom-color: #AB0000;
    border-bottom-width: 3px;
    width: 100%;
    height: 85px;
    padding-top: 23px;
}

.textheader {
    text-align: center;
    color: white;
    font-size: 22pt;
    font-weight: bold;
}

.menuOption {
    background-color: #000049;
    float: left;
    height: 40px;
    width: 14.55%;
    margin: 15 0 0 15px;
}

.titoloTendina {
    font-size: 16pt;
    text-align: center;
    color: white;
}


a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}


.contentContainer {
    width: 100%;
    height: 600px;
}

.eventi {
    margin-top: 100px;
    text-align: center;
    width: 95%;
    font-family: Arial;
    font-size: 18pt;
    color: white;
}

.footer {
    background-color: rgba(80, 123, 175, 0.13);
    border-top-style: solid;
    border-top-color: rgba(43, 99, 148, 0.69);
    border-top-width: 1px;
    width: 100%;
    color: rgb(74, 73, 73);
}

/*
.footer{
    background-color: #000049; 
    border-top-style:solid;
    border-top-color:#AB0000; 
    border-top-width:3px;
    width:100%;
    color:white;
}

.doveSiamoContainer{
    height:80px;
    font-size: 10pt;
    margin: 20px 0px 0px 50px;
    line-height: 25px;
    width: 150px;
    float:left;
}

.contattaciContainer{
    height:80px;
    font-size: 10pt;
    margin: 20px 0px 0px 50px;
    line-height: 25px;
    width: 150px;
    float:left;
}

*/
.facebookLink {
    width: 100px;
    height: 30px;
    float: left;
    margin: 35px 0 0 0;
    text-align: center;
    background-image: url(/baden/img/facebook.jpg);
    background-repeat: no-repeat;
    border-radius: 5px;
}


.text {
    font-size: 8pt;
    line-height: 15px;
}

.sideMenu {
    height: 500px;
    margin: 30px;
    background: yellow;
    float: left;
}

.content {
    height: 500px;
    background: red;
    float: left;
}

.facebookLink:hover {
    cursor: pointer;
}

.resources_icon {
    width: 50px;
}

.container {
    float: right;
    margin: 5px;
}

.tabella {
    padding-left: 10px;
}

.referencesSites {
    max-width: 430px;
}
