@font-face {
    font-family: bodoni;
    src: url(/fonts/BodoniW01Poster.ttf);
}

body-padding {
    padding-top: 57px;
}

#splash {
    width: 100%;
}

#splashsotto {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -2;
    opacity: 0.3;
}

#motto {
    display: block;
    width: 25%;
    position: absolute;
    top: 100px;
    left: 20px;
}

#gotop {
    width: 100%;
    position: fixed;
    bottom: 50px;
    text-align: center;
    z-index: 1;
}

    #gotop button {
        background-color: transparent;
        color: red;
    }

.page-header {
    color: #88161e;
}

.bollo {
    padding: 4px;
}

.mygrid {
    margin: 0 auto;
}

.myitem {
    margin-bottom: 20px;
    margin-right: 20px;
}

.myimg {
    width:100%;
}

.sfondonews {
    background-color: #fff;
}

.r, .r1 {
    border: 1px solid gray;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.s, .s1 {
    border: 1px solid gray;
}

.c1 {
    background-color: lightgray;
}

.c2 {
    background-color: lightyellow;
}

.c3 {
    background-color: ivory;
}

@media (max-width:767px) {
    .navbar-default .navbar-nav > li {
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    div.input-group {
        width: 100% !important;
    }

    #logo {
        padding-left: 20px;
    }

}

#footer {
    position: absolute;
    left: 0;
    right: 0;
    margin-bottom: 0;
}

#logo {
    color: rgb(235, 54, 54);
    font-family: bodoni;
    font-size:22px;
}

#modalImage{
    width: 100%;
}

.modalTitle {
    font-size: 30px;
}